/* estilos da página index.html*/

/*centraliza o texto*/
.center {
    text-align: center;
}
/*justifica o texto*/
.justify {
    text-align: justify;

}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center ;
    align-items: center;
  }
  
  #menu li {
      display: inline;
      padding: 10px;
  }

  #menu li a {
      text-decoration: none;
      color: pink;
      font-size: 20px;

  }

  #menu li a:hover{
      color: gray;

  }

  .pad30 {
    padding: 30px;
  }
  
  .br-50 {
      border-radius: 80%;
  }

  .wh-200 {
      width: 700px;
      height: 700px;
  }

  .tm-social {
      width: 50px;
      height: 50px;
  }

  .mb-50 {
      margin-bottom: 50px;
  }


/* estilos da página sobre mim.html*/

    .cor-pink  {
        color: pink;
    }




/* estilos da página fale comigo.html*/